
/*admin sidbarmenu settings*/
.adminsidenav {
  display: block;
  background: rgb(219, 240, 179);
  height:40rem;
}
.pure-menu-heading {
      color: #308d46;
  }
  .pure-menu-children {
    display: none;
    position: absolute;
    background-color: beige !important;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.custom-display {
      /* To limit the menu width to
      the content of the menu: */
      display: inline-block;
      height: unset;
      margin-left: 5px;

  }



/*admin page settings*/
div.rows {
  display: inline-flex;
  width: 100%;
}
.adminmain{
  background-color: rgb(255, 255, 255);
  width:80%;
  margin-top:10px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }


  /*addproduct page settings*/


.form-group {
  display: block;
  width: 100%;
  text-align: center;
  padding: 30px;
}


.prdouctaddinput {
    display: block;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    height: 35px;
}

label.productaddlab {
  display: block;
  margin-bottom: 3px;
}
img#blah{
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;

}
img.imagebundle {
  width: 100px;
  padding: 12px;
  /* margin: 2px; */
  margin-top: -35px;
 }
 .cross {
  float: right;
    /* z-index: 9999; */
    position: absolute;
    z-index: 9999;
    margin-left: 16px;
    margin-top: 14px;
    cursor: pointer;
    background: rgb(15, 1, 1);
    color: white;
    border-radius:5px;
    padding:2px;
}


/* display multiple images and delete*/
img.imagebundle {
  width: 100px;
  padding: 12px;
  margin: 2px
}
div#container {
  display:flex;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}


/* END display multiple images and delete*/

select.selectoptions {
  /* display: block; */
  text-align: center;
  width: 100px;
  color: red;
  
}
.addbutton {
  padding: 8px;
  cursor: pointer;
  background: #5ab5e5;
  border:none;
  outline: none;
  margin-top: 25px;
}

.addcat {
  margin-top: 25px;
  padding: 5px;
  background: skyblue;
  border: none;
  border: 1px solid black;
  box-shadow: wheat;
  cursor: pointer;
}


/* shipment form */
#freeshipment{
  display:none;
}

div.form-check {
  padding: 10px;
}

input#flexRadioDefault1 {
  margin-left: -29px;
}

input#NoflexRadioDefault2 {
  margin-left: -44px;
  margin-top: 16px;
}


/* admin welcome noye*/


.thrif h1{
  color:black;
  text-align:center;
  margin: auto;
  padding: auto;
  font-size:15px;
	font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing:-0.2px; /* Adjust as needed */
  animation: 
    typing 4s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}








